h1 {
    text-align: center;
}

li {
    display: inline-block;
}

table{
    width: 100%;
    /*min-width: 400px;*/
    border-collapse: collapse;
}

tr {
text-align: left;
}

tr:nth-child(odd) {
    border: 1px solid rgb(134, 130, 130);
    background-color: rgb(218, 216, 216);
}