h1 {
    text-align: left;
    margin: 0;
    padding: 0px;
}

li {
    display: inline-block;
}

table{
    min-width: 600px;
    border-collapse: collapse;
}

tr {
    text-align: left;
}

td {
   /* padding-right: 4px;*/
   padding-left: 4px;
}

tr {
   border-bottom: 1px solid rgb(134, 130, 130);
   /* background-color: rgb(218, 216, 216);*/
}

th {
    background-color: rgb(218, 216, 216);
}