{#{% include '/Partials/top.html' %}#}
{#{% include '/Partials/menu.html' %}#}

{% block customerRemoved %}

<h1> bil borttagen </h1>
   <form method="post" name="removeCar" action="/CarRemove/{{ value.Registration }}" 
   onsubmit="return confirm('Are you sure you want to remove this car?');">
   <td>Regnummer: <input id="Registration" readonly name="Registration" value="{{ reg }}"> 
    </td> <br>

{% endblock %}




{#<script src="../../../style/script.js"></script>
</body>
</html>#}
{#{% include '/Partials/bottom.html' %}#}