{% include '/Partials/top.html' %}
{% include '/Partials/menu.html' %}

<h1> Checka in bil <h2>
<form method="post" name="CheckIn" action="/CheckIn" onsubmit="return confirmReturnCar();">


  <label for="reg"> Bil: </label>
  <select id="reg" name="reg" required> 

    {% for value in getRegRented %}
    <option value="{{ value.Registration }}">
    {{ value.Registration }} {{ value.Color }} {{ value.Make }} </option>
    {% endfor %} 

    </select>

    <br>
    <input type="submit" value="Checka in">
    </form>

<script>
function confirmReturnCar() {
    answer = confirm("Är du säker på att du vill checka in bilen?");
    if (answer) {
        alert("Bilen incheckad.");
        return true;
    } else {
        alert("Incheckning avbruten.")
        return false;
    }
}
</script>
{% include '/Partials/bottom.html' %}