<form method="post" action="/listIndex" onsubmit="return validateIndex();">
  First: <input type="text" name="firstIndex" id="firstIndex"><p>
  Last: <input type="text" name="lastIndex" id="lastIndex">
  <input type="submit" value="Submit">
</form>
<p>
<form method="post" action="">
  <input type="submit" value="Main Menu">
</form>

<script>
  function validateIndex() {
    let firstIndex = document.getElementById("firstIndex").value;
    let lastIndex = document.getElementById("lastIndex").value;
    
    if (firstIndex.match(/^[0-9]+$/) && lastIndex.match(/^[0-9]+$/)) { // ^början, $ slutet, ett eller flera
      return true;
    }
    else {
      alert("Invalid input.");
      return false;
    }
  }
</script>
