{#<h1>List All</h1>
<p>
<ul>
  {% set max = personArray | length - 1%}
  {% for index in 0..max %}
  <li>
    Index: {{loop.index0}}
    <ul>
      <li>{{personArray[index]}}</li>
      <li>{{personArray[index].}}</li>
      <li>{{personArray[index]}}</li>
    </ul>
  </li>
  {% endfor %} 
  
</ul>
<p>
<form method="post" action="/">
  <input type="submit" value="Main Menu">
</form>#}
