<nav>
  <ul>
    <li style="display:inline-block;">
      <form method="post" action="/listAll">
        <input type="submit" value="List All">
      </form>
    </li>
    <li style="display:inline-block;">
      <form method="post" action="/inputIndex">
        <input type="submit" value="List Index">
      </form>
    </li>
    <li style="display:inline-block;">
      <form method="post" action="/carsAll">
        <input type="submit" value="Bilar">
      </form>
    </li>
    <li style="display:inline-block;">
      <form method="post" action="/usersAll">
        <input type="submit" value="Kunder">
      </form>
    </li >
    <li style="display:inline-block;">
      <form method="post" action="/HistoryAll">
        <input type="submit" value="History">
      </form>
    </li>
    <li style="display:inline-block;">
      <form method="post" action="/CheckOut">
        <input type="submit" value="Check out">
      </form>
    </li>
    <li style="display:inline-block;">
      <form method="post" action="/CheckIn">
        <input type="submit" value="Check in">
      </form>
    </li>
  </ul>
</nav>
<!--
<h1>Main Menu</h1>
<p>
<form method="post" action="/listAll">
  <input type="submit" value="List All">
</form>
<p>
<form method="post" action="/inputIndex">
  <input type="submit" value="List Index">
</form>
-->