<nav>
  <ul>
    <li style="display:inline-block;">
      <form method="post" action="/carsAll">
        <input type="submit" value="Bilar">
      </form>
    </li>
    <li style="display:inline-block;">
      <form method="post" action="/usersAll">
        <input type="submit" value="Kunder">
      </form>
    </li >
    <li style="display:inline-block;">
      <form method="post" action="/HistoryAll">
        <input type="submit" value="Historik">
      </form>
    </li>
    <li style="display:inline-block;">
      <form method="post" action="/CheckOut">
        <input type="submit" value="Checka ut">
      </form>
    </li>
    <li style="display:inline-block;">
      <form method="post" action="/CheckIn">
        <input type="submit" value="Checka in">
      </form>
    </li>
  </ul>
</nav>